.container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.layanan {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid;
}

.layanan img {
    width: 90%;
    /* height: 65%; */
}